<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.department.mapper.DepartmentMapper">
    
    <resultMap type="Department" id="DepartmentResult">
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="deptChairman"    column="dept_chairman"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectDepartmentVo">
        select dept_id, dept_name, dept_chairman, parent_id from department
    </sql>

    <select id="selectDepartmentList" parameterType="Department" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        <where>  
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="deptChairman != null  and deptChairman != ''"> and dept_chairman = #{deptChairman}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
    </select>
    
    <select id="selectDepartmentByDeptId" parameterType="Long" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        where dept_id = #{deptId}
    </select>

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="deptId">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">dept_name,</if>
            <if test="deptChairman != null and deptChairman != ''">dept_chairman,</if>
            <if test="parentId != null">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">#{deptName},</if>
            <if test="deptChairman != null and deptChairman != ''">#{deptChairman},</if>
            <if test="parentId != null">#{parentId},</if>
         </trim>
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update department
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="deptChairman != null and deptChairman != ''">dept_chairman = #{deptChairman},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteDepartmentByDeptId" parameterType="Long">
        delete from department where dept_id = #{deptId}
    </delete>

    <delete id="deleteDepartmentByDeptIds" parameterType="String">
        delete from department where dept_id in 
        <foreach item="deptId" collection="array" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>
</mapper>